# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

syntax: glob
.DS_Store
log/*
tmp/*
public/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
spec/coverage
target/site
node_modules/
**.orig

*.rbc
capybara-*.html
.byebug_history

# IDEs
.idea

dump.rdb # redis dump
rspec.xml #rspec results
results.xml #coverage